@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header start*/
.page-header {
  position: relative;

  margin: 0;
  margin-top: 40px;
  padding: 50px 60px 120px 60px;

  background-color: #f7e296;
  color: #000;
}

.page-header a {
  text-decoration: none;
  color: #000;
}

.header-logo {
  margin: 0;
  margin-top: -68px;
  margin-bottom: 25px;
}

.main-navigation-top {
  display: flex;

  margin-bottom: 25px;
}

.search {
  width: 540px;
}

.user-navigation {
  margin: 0;
  padding: 0;
}

.catalog-navigation {
  display: flex;
  justify-content: space-between;

  width: 220px;

  margin: 0;
  padding: 0;
  margin-left: auto;
}

.site-navigation {
  display: flex;

  position: relative;

  margin: 0;
  padding: 0;
}

.site-navigation-title {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.site-navigation li:not(:last-of-type) {
  margin-right: 35px;
}

.site-navigation li:first-of-type {
  width: 505px;
}

.site-navigation li:last-of-type {
  margin-left: auto;
}

.sub-nav {
  display: none;

  position: absolute;

  width: 610px;

  margin: 0;
  padding: 0;
}

.site-navigation li:first-of-type:hover .sub-nav,
.site-navigation li:first-of-type:focus .sub-nav {
  display: block;
}

.sub-nav ul {
  display: inline-block;
  vertical-align: top;
  width: 200px;

  margin: 0;
  padding: 0;
}

.header-bar {
  position: absolute;
  bottom: 50px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}
/*header end*/



/*promo-slider start*/
.promo-slider {
  position: relative;
}

input[name="toggle"] {
  display: none;
}

.slider-2,
.slider-3 {
  display: none;
}

.slide-controls {
  position: absolute;
  top: 554px;
  right: 437px;
}

.slide-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 17px;

  vertical-align: top;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#btn1:checked~.slide-controls label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.slide-controls label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.slide-controls label[for="btn3"] {
  background-color: white;
}
/*promo-slider end*/

/*product start*/
.product-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 185px;
  padding: 0;
}

.product-item {
  width: 160px;
}

.product-item a {
  display: inline-block;

  color: #000;
  text-decoration: none;
}

.product-image {
  width: 160px;
  min-height: 160px;
  margin-bottom: 35px;
  margin-top: 0;

  background-color: #f7e296;
  text-align: center;
  vertical-align: middle;
}

.product-description {
  margin: 0;

  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}
/*product end*/

/*services start*/
.services {
  display: flex;

  background-color: #e5e5e5;
}

.services-list {
  width: 290px;
  margin: 0;
  padding: 0;
  margin-right: 120px;
}



/*services end*/

/*brands start*/
.brands-list {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 50px;

  display: flex;
  justify-content: space-between;
}

.brand-item img {
  opacity: 0.1;
}

.brand-item img:hover {
  opacity: 1;
}

/*brands end*/

/*about-us start*/
.about-and-contacts {
  padding-bottom: 90px;
}

.about-and-contacts .container {
  display: flex;
  justify-content: space-between;
}

.about-and-contacts h2 {
  font-family: Gilroy;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;

  color: #000;
}

.about-and-contacts p {
  color: #000;
}

.about-us {
  width: 600px;
}

.about-us p {
  width: 470px;
}

.about-us p:last-of-type {
  margin-bottom: 45px;
}

.logistic-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  font-family: Gilroy;
  font-size: 16px;
  line-height: 40px;
  font-weight: 900;

  color: #000;
  list-style-type: circle;
}

.logistic-item {
  padding-left: 50px;
}

.about-us-link {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;

  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #f0c52e;
}

.contacts p:first-of-type {
  margin-bottom: 25px;
}
.contacts {
  width: 600px;
}

.map-image {
  margin-bottom: 63px;
}

.contacts-link {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;

  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #f0c52e;
  border: none;
  cursor: pointer;
}
/*about-us end*/

/*page-footer start*/
.page-footer {
  padding-top: 65px;
  padding-bottom: 65px;

  background-color: #464646;
  color: #fff;
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}

.footer-top {
  display: flex;
}

.footer-logo {
  margin-right: auto;
}

.footer-catalog-navigation {
  display: flex;
}

.footer-middle {
  display: flex;
  justify-content: space-between;

  margin-bottom: 65px;
}

.footer-middle p {
  margin: 0;
}

.footer-services-list {
  width: 440px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;

  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-block,
.footer-company-logo {
  width: 80px;
}

.footer-block {
  position: relative;
}

.footer-block::after {
  content: "";

  position: absolute;
  top: 20px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-list {
  width: 160px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.footer-company-logo {
  margin: 0;
}
/*page-footer end*/

/*modal start*/
.modal {
  display: none;
}


/*modal end*/

